.navbar-container {
  height: 70px;
  background-color: #2E2E2E;
}

body {
  background-color: #424242;
}

.header-presentation {
  width: 80vw;
  margin: auto;
  padding-top: 10%;
  font-family: 'Raleway', sans-serif;
  font-size: bold;
  color: #212121;
  text-shadow:
  1px -1px 0  #424242,
  -1px 2px 1px #424242,
  -2px 4px 1px #2E2E2E,
  -3px 6px 1px #787777,
  -4px 8px 1px #ff4444,
  -5px 10px 1px  #ff4444;
}

.text-logo {
  font-family: 'Pacifico', cursive;
  color: white;
}
.text-logo .fas.fa-film {
  font-size: 1em;
  color: #ff4444;
}

.header-title {
  font-size: 6em;
  text-transform: capitalize;
}
header{
  display: flex;
  align-items: center;
  max-width: 70vw;
  height: 70px;
  margin: auto;
  background-color: #2E2E2E;
}

header .logo {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 2.7em;
}

header .container-input {
  width: 60vw;
  display: flex;
  justify-content: flex-end;
}

.container-input #input-film {
  font-family: 'Pacifico', cursive;
  padding: 12px;
  border-style: hidden;
  border-radius: 5px;
  width: 40%;
  font-size: 16px;

}

.container-button #btn-film {
  width: 70px;
  font-family: 'Pacifico', cursive;
  margin-left: 5px;
  border-style: hidden;
  border-radius: 5px;
  background-color: #ff4444;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
}

.fas.fa-film {
  padding-left: 10px;
  font-size: 2.3em;
  color: #ff4444;
}

.fas.fa-star {
  color: #fdd835;
}

.img-flag {
  max-width: 65px;
  max-height: 20px;
  padding-right: 7px;
  margin-top: 7px;
}

#film-container, #series-container {
  width: 90vw;
  margin: auto;
}
/*Float sui i miei continer div, 3 img per ogni riga  */
.img-container {
  width: 33%;
  float:left;
  margin-top: 15px;
  position: relative;
  cursor: pointer;
}

/*Imposto la dimensione anche qui così le immagine che non hanno la stessa
identica dimensione di quelle di default vengono sì sformate ma quantomeno hanno
la stessa dimensione delle altre  */
.poster-img {
  width: 440px;
  height: 690px;
  filter: grayscale(100%);

}

.poster-img:hover {
  transition: filter 1s;
  filter: grayscale(0);
}


.title-film {
  display: none;
  position: absolute;
  top:0;
  color: white;
  width: 440px;
  height: 690px;
}

.title-film .title {
  font-family: 'Pacifico', cursive;
  text-transform: capitalize;
  font-size: 2.3em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 7px;
}

.title-film .original-title {
  font-family: 'Pacifico', cursive;
  font-size: 1.4em;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 10px;

}

.title-film .container-lang-stars {
  text-align: center;
}

.title-film .overwiew {
  width: 95%;
  text-align: center;
  padding-top: 10%;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
.black-bg {
  background-color: #2E2E2E;
}

@media only screen and (max-width: 1300px) {
  .img-container {
    width: 50%;
  }
  .header-presentation {
    margin-top: 10%;
    text-align: center;
  }
  .header-title {
    font-size: 4em;
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 900px) {
  .img-container {
    width: 100%;
    text-align: center;
  }
  .header-presentation {
    margin-top: 10%;
    text-align: center;
  }
  .header-title {
    font-size: 3.5em;
    text-transform: capitalize;
  }


  @media only screen and (max-width: 600px) {
    .poster-img {
      width: 340px;
      height: 590px;
    }
    .header-presentation {
      margin-top: 15%;
      text-align: center;
    }

    .text-logo .fas.fa-film {
      font-size: 0.5em;
      color: #ff4444;
    }

    .header-title {
      font-size: 3.5em;
      text-transform: capitalize;
    }

    header .logo {
      display:none;
    }
    header .container-input{
      width: 100%;
    }

    .container-input #input-film {
      border-radius: 5px;
      width: 70%;
      font-size: 12px;
    }

    .container-button #btn-film {
      width: 70px;
      font-size: 12px;
      padding: 12px;
    }
    .fas.fa-film {
       display: none;
    }
  }
  @media only screen and (max-width: 500px) {
    .img-container {
      margin-top: 25%;
    }
    .poster-img {
      width: 240px;
      height: 490px;
    }

  }
